---

---

@import "aos.css";
@import "animate.css";
@import "bootstrap";
@import "magnific-popup.css";
@import "bootstrap-datepicker.css";
@import "jquery.timepicker.css";

@import "../fonts/ionicons/css/ionicons.min.css";
@import "../fonts/fontawesome/css/font-awesome.min.css";
@import "../fonts/flaticon/font/flaticon.css";

// Some mixins 

@mixin breakpoint($breakpoint) {
    @if $breakpoint == phone {
         @media (max-width: 480px) { @content };
    }
    @if $breakpoint == tablet-port {
         @media (max-width: 600px) { @content };
    }
    @if $breakpoint == tablet-land {
         @media (max-width: 800px) { @content };
    }
}
//end

html {
	overflow-x: hidden;
}
body {
	background: $white;
	font-family: $font-family-sans-serif;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 300;
	color: lighten($black, 50%);
}
p, ul, ol {
	margin-bottom: 30px;
}
a {
	transition: .3s all ease;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
h1, h2, h3, h4, h5 {
	color: $black;
	font-family: $font-family-heading;
	a {
		color: $black;
		&:hover {
			color: lighten($black, 60%);
		}
	}
}

.btn, .form-control {
	outline: none;
	&:focus, &:active {
	}
}
.form-group	{
	.label {
		font-weight: normal;
	}
}
.form-field-icon-wrap {
	position: relative;
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		font-size: 18px;
		transform: translateY(-50%);
	}
	select {
		appearance: none;
		height: 47px!important;
	}
	.select_too {
		height: 47px!important;
	}
	img {
		position: absolute;
    top: 50%;
    right: 20px;
    font-size: 18px;
    transform: translateY(-50%);
	}
}
.form-sub-label-container {
	display:flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
}
/* Site Menu*/
.site-menu {
	display: block;
	background: $red;
	right: 0;
	z-index: 101;
	position: fixed;
	width: 25%;
	transform: translateX(100%);
	transition: .4s all ease;
	bottom: 0;
	top: 0;
	box-shadow: 0 -20px 20px -5px rgba(0,0,0,.05);
	min-height: 300px;
	overflow: auto;
	@include breakpoint(phone) {
    width: 50%;
	}
	ul {
		position: relative;
		margin-top: 150px;
		margin-bottom: 50px;
		> li {
			list-style: none;
			visibility: hidden;
			opacity: 0;
			padding: 0;
			margin: 0 0 10px 0;
			top: -20px;
			position: relative;
			text-align: center;
			transition: .3s all ease;
			&.is-show {
				visibility: visible;
				opacity: 1;
				top: 0px;
			}
			a {
				color: $yellow;
				font-size: 2em;
				@include breakpoint(phone) {
					font-size: 1.4em;
				}
			}
		}
	}
	&.site-menu-show {
		transform: translateX(0%);
	}
}

.bg-slant-white {
	position: relative;
	&:after {
		z-index: 1;
		background-color: $red;
		content: "";
		transform: rotate(-5deg) translateX(-50%);
		width: 120%;
		position: absolute;
		bottom: 0;
		height: 200px;
		left: 50%;
	}
	&.bg-light {
		&:after {
			background: #f8f9fa;
		}
	}
}

/* Site Header */
.site-header {
	padding: 1em 30px;
	position: absolute;
	top: 0;
	z-index: 900;
	width: 100%;
	.site-logo {
		line-height: 0;
		padding: 2px 10px;
		-webkit-filter: invert(1);
		color:  $yellow;
		font-size: 36px;
		font-weight: bold;
	}
	.social {
		li {
			display: inline-block;
			a {
				color: $black;
				padding: 0 10px;
			}
		}
	}
	.heading {
		color: $white;
	}

	&.scrolled {
		position: fixed;
		padding: 0 20px;
		top: 0;
		background: $yellow;
		transition: .0s all ease;
		transform: translateY(-100%);
		.social {
			margin-top: 10px;
			li {
				a {
					color: $black;
				}
			}
		}
		.site-logo {
			-webkit-filter: invert(0);
		}
		.site-nav-toggle {
			top: -5px!important;
		}
	}
	&.awake {
		transition: .3s all ease;
		transform: translateY(0%);
		img {
			width: 2em;
			max-height:2em;
		}
	}
	&.sleep {
		transition: .3s all ease;
		transform: translateY(-100%);
	}
}
.form-control {
	border: 2px solid lighten($black, 80%);
	&:hover, &:focus, &:active {
		box-shadow: none!important;
		border: 2px solid $primary;
	}
}
.site-nav-toggle {
	top: -10px!important;
	i {
		&, &:before, &:after {
			background: $black!important;
		}
	}
}
.btn {
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: 14px;
	font-weight: 700;
	&:hover, &:focus, &:active {
		box-shadow: none!important;
	}
	&.btn-primary {
		&.btn-outline-primary {
			border-width: 2px;
			cursor: pointer;
		}
	}
	&.btn-outline-white {
		border: 2px solid $red;
		background: none;
		color: $white;
		text-decoration: none;
		&:hover {
			background: $white;
			color: $black;
			border: 2px solid transparent;
		}
	}

}
.bg-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
.half {
	.text, .image {
		// vertical-align: top;		
		width: 100%;
		@include media-breakpoint-up(lg) {
			width: 50%;	
			// display: table-cell;
		}
	}
	.text {
		padding: 7%;
		background: $black;
		h2 {
			color: $white;
		}
	}
	.image {
		@extend .bg-image;
		@include media-breakpoint-down(md) {
			height: 250px;
		}
	}
}
.image-bg-fullwidth {
	display: block;
	@extend .bg-image;
	height: 300px;
}

// heading
.section-heading {
	h2 {
		font-size: 50px;
		margin: 0.5em 0;
		@include media-breakpoint-down(md) {
			font-size: 44px;
		}
	}
	.sub-heading {
		font-size: 20px;
	}
	.small-sub-heading {
		font-size: 14px;
		color: $primary;
	}
	p {
		background-color: $white;
		padding: 1em 0.5em;
	}
}

// .blog {
.media {

	figure.horizontal {
		
		@include media-breakpoint-up(lg) {
			width: 150px;	
		}
	}
	

	h3 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.post-meta {
		font-size: 14px;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	> a {
		width: 40%;
		@include media-breakpoint-down(sm) {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	&.media-bg-white {
		box-shadow: 0 10px 20px -5px rgba(0,0,0,.1);
		figure {
			margin-bottom: 0;
		}
		.media-body {
			padding: 20px;
			background: $white;	
		}	
	}
	
}

.ppx-46 {
	justify-content: center;
	.ppx-46-row {
		> div {
			text-align: center;
			width: 100%;
			@include media-breakpoint-up(lg) {
				width: 50%;	
			}
		}
	}
	.ppx-46-subheading {
		font-size: 18vw;
		color: $red;
		text-transform: uppercase;
		letter-spacing: .2em;
	}
	.ppx-46-heading {
		text-transform: uppercase;
		line-height: 1.5;
		font-size: 20px;
		margin-bottom: 30px;
	}
	.ppx-46-image {
		background-size: cover;
		background-position: center center;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $black;
			opacity: .05;
		}
		@include media-breakpoint-down(md) {
			height: 200px;
			// display: none;
		}
	}
	.ppx-46-text {
		padding: 2.5em 2.5em 0;
		background: $white;
		@include media-breakpoint-down(md) {
			margin-bottom: 20px;
		}
		&.ppx-46-arrow-up {
			z-index: 2;
			position: relative;
			&:after {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;

				border-bottom-color: $white;
				border-width: 20px;
				margin-left: -20px;
				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}

		&.ppx-46-arrow-left {
			z-index: 2;
			position: relative;
			&:after {
				right: 100%;
				top: 20%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;

				border-right-color: $white;
				border-width: 20px;
				margin-top: -20px;

				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}

		&.ppx-46-arrow-right {
			z-index: 2;
			position: relative;
			&:after {
				left: 100%;
				top: 20%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;

				border-left-color: $white;
				border-width: 20px;
				margin-top: -20px;

				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.ppx-38 {
	.ppx-38-header {
		.ppx-38-heading {
			font-size: 30px;
			color: $black;
			margin: 0;
			font-weight: 300;
			margin-bottom: 10px;
			@include media-breakpoint-down(md) {
				font-size: 24px;
			}
		}
		.ppx-38-subheading {
			color: lighten($black, 70%);
			margin: 0 0 20px 0;
			letter-spacing: .1em;
			text-transform: uppercase;
			@include media-breakpoint-down(md) {
				font-size: 18px;
			}
		}
		img {
			width: 200px;
			border-radius: 50%;
			margin-bottom: 40px;
			box-shadow: 3px 5px 4px lighten($color: $green, $amount: 0.9);
		}
	}
}

.btn-link {
	text-transform: uppercase;
	font-size: 12px!important;
	letter-spacing: .15em;
	text-decoration: none!important;
	transition: .3s all ease;
	color: $black;
	font-weight: 900;
	span {
		position: relative;
		margin-left: 0px;
		transition: .3s all ease;
	}
	&:hover, &:active, &:focus {
		color: $black;
		span {
			color: $black;
			margin-left: 10px;
		}
	}
}

.site-tab-nav {
	display: block;
	text-align:center;
	margin-bottom: 80px!important;
	li {
		float:none;
    display:inline-block;
    *display:inline;
     zoom:1;
		a {
			background: none;
			color: lighten($black, 50%);
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: .2em;
			border-bottom: 2px solid transparent;
			padding-left: 0;
			padding-right: 0;
			margin: 0 10px;
			font-weight: 600;
			border-bottom: 2px solid lighten($black, 90%);
			&.active {
				color: lighten($black, 0%);
				color: $primary;

				background: none;
				border-bottom: 2px solid $primary;
			}
		}
		
	}
}
.site-tab-nav, .nav-pills {
    text-align:center;
}
#section-reservation {
	background-image:linear-gradient(to bottom, #0c0c07, #111309, #9de200, #69d500, #04c800);
	.heading {
		color: $yellow;
	}
}

.menu-food-item {
	border-bottom: 1px dotted #ccc;
	float: left;
	width: 100%;
	padding-bottom: 30px;
	margin-bottom: 30px;

	.text {
		img {
			width: 100px;	
			margin-bottom: 20px;
			border-radius: 7px;
			float: left;
			margin-right: 30px;
			@include media-breakpoint-down(md) {
				float: none;
			}
		}
		width: calc(100%);
		@include media-breakpoint-up(md) {
			width: calc(100% - 70px;)	
		}
	}
	.price {
		text-align: left;
		width: 100%;
		@include media-breakpoint-up(md) {
			width: 70px;
			text-align: right;
		}
		strong {
			color: $primary;
			font-size: 20px;
		}
	}
	h3 {
		font-size: 22px;
		a {
			color: $black;
			transition: .3s all ease;
			&:hover {
				color: lighten($black, 50%);
			}
		}
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.footer-contact-widget {
	.contact-email {
		color: $primary;
	}
	.contact-phone {
		font-size: 30px;
		color: $black;
	}
}

// Flaticon 
.custom-icon {
	font-size: 70px;
	color: theme-color('primary');
}
.form-subscribe {
	.form-group {
		position: relative;
		input[type="email"],
		input[type="text"] {
			box-shadow: none!important;
			background: lighten(#ccc, 15%);
			border: none;
			border-radius: 0!important;
			padding-right: 100px;
		}
		input[type="submit"] {
			position: absolute;
			right: 0;
			top: 1px;
			border-radius: 0!important;
			outline: none;
			box-shadow: none!important;
		}
	}
}
// Burger Menu
.menu-burger-wrap {
	position: relative;
	z-index: 1000;
}
.site-nav-toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
	-webkit-filter: invert(1);
  text-decoration: none;
  position: relative;
  top: -15px;
  z-index: 109;
  display: block!important;
  float: right;
  right: 0;
  display: none;
  border-bottom: none !important;
	&:hover {
  	i {
  		&:before {
  			top: -10px;
  		}
  		&:after {
  			bottom: -10px;
  		}
  	}
  }
  &.active {
  	i {
  		background: transparent!important;
  		&:before, &:after {

  		}
  		&:before {
  			top: 0;
			  -webkit-transform: rotateZ(45deg);
			  -moz-transform: rotateZ(45deg);
			  -ms-transform: rotateZ(45deg);
			  -o-transform: rotateZ(45deg);
			  transform: rotateZ(45deg);
  		}
  		&:after {
  			bottom: 0;
			  -webkit-transform: rotateZ(-45deg);
			  -moz-transform: rotateZ(-45deg);
			  -ms-transform: rotateZ(-45deg);
			  -o-transform: rotateZ(-45deg);
			  transform: rotateZ(-45deg);
  		}
  	}
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
		-webkit-filter: invert(0);
  }
  i {
  	position: relative;
	  display: -moz-inline-stack;
	  display: inline-block;
	  zoom: 1;
	  *display: inline;
	  width: 30px;
	  height: 2px;
	  font: bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent: -55px;
	  background: $white;
	  transition: all .2s ease-out;
	  &:before, &:after {
	  	content: '';
		  width: 30px;
		  height: 2px;
		  background: $white;
		  position: absolute;
		  left: 0;
		  -webkit-transition: 0.2s;
		  -o-transition: 0.2s;
		  transition: 0.2s;
	  }
	  &:before {
	  	top: -7px;
	  }
	  &:after {
	  	bottom: -7px;
	  }
  }
  
}
// Section
.section {
	padding: 3em 0;
	z-index: 2;
	position: relative;
	background-image: linear-gradient(to bottom, #f9f800, #cced00, #9de200, #69d500, #04c800);
}
.form-wrap {
	padding: 40px;
	background: $white;
	box-shadow: 0 10px 20px -5px rgba(0,0,0,.1);
}
// cover
.cover_1 {
	position: relative;
	overflow: hidden;
	&.overlay {
		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $black;
			opacity: .2;
		}
	}
	.lead {
		color: $white;
		font-size: 18px;
	}
	.img_bg {

		background-repeat: no-repeat;
		background-size: cover!important;
		background-position: center center;
		&, > .container > .row {
			min-height: 700px;
			height: 100vh;	
		}
	}

	&.cover_sm {
		.img_bg {
			&, > .container > .row {
				min-height: 600px;
				height: 80vh;	
			}
		}
	}
	
	.sub-heading {
		color: rgba(255,255,255,1);
		font-size: 26px;
		max-width: 500px;
		margin: 0 auto;
		@include media-breakpoint-down(md) {
			font-size: 20px;
		}
	}
	.heading {
		color: rgba(255,255,255,1);
		font-weight: 300;
		font-size: 3em;
		line-height: 1.5;
		background: -webkit-linear-gradient($red, $yellow, $green);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
		@include media-breakpoint-up(md) {
			font-size: 70px;
			font-weight: 900;
			line-height: 1.2;	
		}
		@include media-breakpoint-up(sm) {
			font-size: 70px;
			font-weight: 900;
			line-height: 1.2;	
		}
	}
	a {
		color: rgba($white, .8);
		border-bottom: 1px solid rgba($white, .6);
		&:hover {
			color: $white;
			border-bottom: none;
		}
	}
}
//Contact Form
.calendar table, tr.days, .title{
  width: 400px;
  color: #144564 !important;
}
.calendar.popup {
  z-index:100000;
  border: 1px solid #0092cf !important;
	background-color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  overflow: hidden;
}
.calendar tr.days td {
  color: #353535 !important;
}
.calendar tr.days td:hover:not(.unselectable), div.calendar td.button:hover:not(.unselectable) {
  background-color:#C5C9CC !important;
}
.ppx-footer-newsletter {
	
	.form-group {
		position: relative;
		.form-control {
			background: $white;
			color: $black;
			border: none!important;
			border-radius: 0px;
			padding-right: 70px;
		}
		.button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			border: none!important;
			background: none;
			&:active, &:focus {
				outline: none;
			}
		}
	}
	
}

.ppx-footer {
	background: rgba(18,18,18,1);
	padding: 7em 0;
	font-size: 15px;
	font-weight: 400;

	.footer-widget {
		h3 {
			font-size: 20px;
			color: $white;
		}

		.list-unstyled {
			&.social {
				li {
					list-style: none;
					display: inline-block;
					margin-right: 10px;
					a {
						font-size: 24px;
						color: $white;
					}
				}
			}
		}
	}
}


// loader

#loader {
	position: fixed;
	width:  96px;
	height: 96px;
	left:  50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
	border-radius:16px;
	opacity: 0; 
	visibility: hidden;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index:1000;
}

#loader.fullscreen {
	padding:  0;
	left:  0;
	top:  0;
	width:  100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}

#loader.show {
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left:  calc(50% - 24px);
  top:  calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
.form-line[data-type="control_datetime"] 

 .form-sub-label-container {

    width: 30%;

    margin-right: 2%;

}

.form-line[data-type="control_datetime"] 

 .form-sub-label-container:last-child {

    width: 6%;

}

.form-line .allowTime-container {

  width: 60%;

}

.form-line[data-type="control_datetime"] 

 .allowTime-container .form-sub-label-container {

    width: 22% !important;

    margin-right: 3% !important;

}